{%include 'header.html'%}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <div class="card-order">
                    <h4 class="mb-2">ABOUT</h4> <br> <br>
                   <b> <p class="mb-0">Aplikasi pantau Covid-19 Sulawesi Tengah ini dibuat dengan menggunakan 
                       python dan flask di back-end, serta bootstrap dan chart.js di front-end. 
                       Data yang disajikan di-consume dari beberapa API yang tersedia secara publik dan legal. <br> <br>
                        Beberapa url API yang digunakan sebagai berikut: <br>
                        https://apicovid19indonesia-v2.vercel.app/api/indonesia/more <br>
                        https://apicovid19indonesia-v2.vercel.app/api/indonesia/provinsi/more <br>
                        https://apicovid19indonesia-v2.vercel.app/api/indonesia/harian <br>
                        https://data.covid19.go.id/public/api/prov.json <br>
                    </p>
                    <br>
                    
                    <p class="mb-0">Tetap jaga kesehatan guys, gunakan masker, cuci tangan pakai sabun, dan jaga jarak aman untuk memutus penyebaran #covid-19 di Indonesia.
                        <br><br> Stay safe and healthy, mari jo sama-sama torang lawan covid-19!!!</b> <br> <br> <br><br> email: dedynggego@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
 {%include 'footer.html'%}

