 <!-- FOOTER -->
 <div class="footer-basic">
    <footer>
        <center>
            <a href="https://www.instagram.com/dedynggego/"><i><ion-icon name="logo-instagram" size='large' style="color:lightslategrey"></ion-icon></i></a>
            <a href="https://facebook.com/dedysangira/"><i><ion-icon name="logo-facebook" size='large' style="color:lightslategrey"></ion-icon></i></a>
        </center>
        <p class="copyright">© 2020 Developed by Dedy Nggego</p>
    </footer>
</div>
<!-- END FOOTER -->


<script src="static/jquery.min.js"></script>
<script src="static/bootstrap.min.js"></script>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

</body>

</html>